<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sweaty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sweaty" >
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ToPlateActivity" />
        <activity android:name=".ToWarmupActivity" />
        <activity android:name=".activities.MacroActivity" />
        <activity android:name=".ToTemplateActivity" />
        <activity android:name=".ToBmiActivity" />
        <activity android:name=".ToBodybuildingActivity" />
        <activity android:name=".ToPowerliftingActivity" />
        <activity android:name=".activities.WendlerActivity" />
        <activity android:name=".ToTimerActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>